#id-container {
    max-width: 4em;
}

#status {
  font-size: 3em;
}

body {
  background-color: grey;
}

#imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
}

.toolbarContainer {
    position: absolute;
}

.toolbarItem {
    height: 2em;
    width:auto;
}

/* img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */



img {
  width: auto;
  height: 100%;
  /* Magic! */
  max-height: 90vh;
}